.container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #2234A8;

    .spacer {
        flex-grow: 0.25;
    }

    app-search {
        flex-grow: 1;
    }
}