.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 100%;

    span {
        padding: 5px 0;
        text-align: center; 
    }

    .price {
        color: #0076CE;
    }

    .purchase-button { 
        background-color: #007bff;
        border: none; 
        color: white; 
        padding: 10px 20px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block; 
        font-size: 14px;
        border-radius: 5px; 
        transition: background-color 0.3s ease; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    } 
    .purchase-button:hover { 
        background-color: #0056b3; 
    }
}