<div class="container">
  <div class="products-container">
    @let products = productsSignal();
    <!-- @if (products.length > 0) { -->
      @for (item of products; track $index) {
        <app-product
          [product] = "item"
        >
        </app-product>
      <!-- } -->
    } @empty {
      No products found.
    }
  </div>
  <app-pagination
    [pageSize]="pageSize"
    [pageNumber]="pageNumber"
    [totalElements]="totalElements"
    (pageChanged)="pageChanged($event)"
  ></app-pagination>
</div>


